examples/chroma-collection.json
[{"id":"b42e7537237d729d","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":500,"wires":[["47eef2e7ea8fdda6"]]},{"id":"47eef2e7ea8fdda6","type":"function","z":"267d528ea6cc06bf","name":"collection | add","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    ids: [\"id1\", \"id2\"],\n    embeddings: [\n        [1, 2, 3],\n        [4, 5, 6],\n    ],\n    metadatas: [{ key: \"value\" }, { key: \"value\" }],\n    documents: [\"document1\", \"document2\"],\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":500,"wires":[["999aa0170b207b87"]]},{"id":"dd95178f2cb380ae","type":"debug","z":"267d528ea6cc06bf","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":500,"wires":[]},{"id":"999aa0170b207b87","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"add","x":540,"y":500,"wires":[["dd95178f2cb380ae"]]},{"id":"d1c2de583a1d974b","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":560,"wires":[["87b7702cf3e0a437"]]},{"id":"87b7702cf3e0a437","type":"function","z":"267d528ea6cc06bf","name":"collection | count","func":"msg.collection = \"my_collection\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":560,"wires":[["7fad750789b57fe3"]]},{"id":"dad21363b5ed2a5e","type":"debug","z":"267d528ea6cc06bf","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":560,"wires":[]},{"id":"7fad750789b57fe3","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"count","x":540,"y":560,"wires":[["dad21363b5ed2a5e"]]},{"id":"f38c72e785a23e81","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":620,"wires":[["4ee4ea2e91362bff"]]},{"id":"4ee4ea2e91362bff","type":"function","z":"267d528ea6cc06bf","name":"collection | delete","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    ids: \"some_id\",\n    where: { key: \"value\" },\n    whereDocument: { \"$contains\": \"search_string\" }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":620,"wires":[["1d2b661f04b6abe6"]]},{"id":"f362a944fb330e49","type":"debug","z":"267d528ea6cc06bf","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":620,"wires":[]},{"id":"1d2b661f04b6abe6","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"delete","x":540,"y":620,"wires":[["f362a944fb330e49"]]},{"id":"ffc2f60f8aada726","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["c56f08686037db9c"]]},{"id":"c56f08686037db9c","type":"function","z":"267d528ea6cc06bf","name":"collection | get","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    ids: [\"id1\", \"id2\"],\n    where: { key: \"value\" },\n    limit: 10,\n    offset: 0,\n    include: [\"embeddings\", \"metadatas\", \"documents\"],\n    whereDocument: { $contains: \"value\" },\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":680,"wires":[["0e1ab92fc4a0c37c"]]},{"id":"d4cc16d136e4f861","type":"debug","z":"267d528ea6cc06bf","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":680,"wires":[]},{"id":"0e1ab92fc4a0c37c","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"get","x":540,"y":680,"wires":[["d4cc16d136e4f861"]]},{"id":"26814bef5090667f","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":740,"wires":[["fcb5c30c7e1ec4f3"]]},{"id":"fcb5c30c7e1ec4f3","type":"function","z":"267d528ea6cc06bf","name":"collection | modify","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    name: \"new collection name\",\n    metadata: { key: \"value\" },\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":740,"wires":[["cb47942d2fbfcfbb"]]},{"id":"ad2ca5f8ae370319","type":"debug","z":"267d528ea6cc06bf","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":740,"wires":[]},{"id":"cb47942d2fbfcfbb","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"modify","x":540,"y":740,"wires":[["ad2ca5f8ae370319"]]},{"id":"b2d215db69f2fffe","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":800,"wires":[["63c4835fad7e9d64"]]},{"id":"63c4835fad7e9d64","type":"function","z":"267d528ea6cc06bf","name":"collection | peek","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    limit: 10,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":800,"wires":[["f030d5ef27b90689"]]},{"id":"5dcde816f1b8402f","type":"debug","z":"267d528ea6cc06bf","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":800,"wires":[]},{"id":"f030d5ef27b90689","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"peek","x":540,"y":800,"wires":[["5dcde816f1b8402f"]]},{"id":"541e398be55bdef0","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":860,"wires":[["bcdf9891df34b11c"]]},{"id":"bcdf9891df34b11c","type":"function","z":"267d528ea6cc06bf","name":"collection | query","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    queryEmbeddings: [0.1, 0.2],\n    nResults: 10,\n    where: { key: \"value\" },\n    include: [\"metadata\", \"document\"]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":860,"wires":[["4c6e035d56ca8b4d"]]},{"id":"4956dfa18b7c9861","type":"debug","z":"267d528ea6cc06bf","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":860,"wires":[]},{"id":"4c6e035d56ca8b4d","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"query","x":540,"y":860,"wires":[["4956dfa18b7c9861"]]},{"id":"737cdbb4f9a163b8","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":920,"wires":[["8f708462cd93f99a"]]},{"id":"8f708462cd93f99a","type":"function","z":"267d528ea6cc06bf","name":"collection | update","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    ids: [\"id1\", \"id2\"],\n    embeddings: [\n        [1, 2, 3],\n        [4, 5, 6],\n    ],\n    metadatas: [{ key: \"value\" }, { key: \"value\" }],\n    documents: [\"new document 1\", \"new document 2\"],\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":920,"wires":[["cc93959cb132043f"]]},{"id":"09386c5979e6c571","type":"debug","z":"267d528ea6cc06bf","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":920,"wires":[]},{"id":"cc93959cb132043f","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"update","x":540,"y":920,"wires":[["09386c5979e6c571"]]},{"id":"974d5e82380171fe","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":980,"wires":[["253e72ed145f6ac3"]]},{"id":"253e72ed145f6ac3","type":"function","z":"267d528ea6cc06bf","name":"collection | upsert","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    ids: [\"id1\", \"id2\"],\n    embeddings: [\n        [1, 2, 3],\n        [4, 5, 6],\n    ],\n    metadatas: [{ key: \"value\" }, { key: \"value\" }],\n    documents: [\"document1\", \"document2\"],\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":980,"wires":[["c714eb576074b488"]]},{"id":"468d53118afc6bc3","type":"debug","z":"267d528ea6cc06bf","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":980,"wires":[]},{"id":"c714eb576074b488","type":"chromadb-collection","z":"267d528ea6cc06bf","remoteServer":"90446f611386a7ad","name":"","collection":"","operation":"update","x":540,"y":980,"wires":[["468d53118afc6bc3"]]},{"id":"90446f611386a7ad","type":"remote-server-collection","host":"http://localhost:8000"}]