examples/chroma-client.json
[{"id":"1b7d9f868c6f08ad","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["e411dcf415b95393"]]},{"id":"e411dcf415b95393","type":"function","z":"267d528ea6cc06bf","name":"client | createCollection","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    metadata: {\n        description: \"My first collection\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":60,"wires":[["6c3a2824d0af607c"]]},{"id":"6c3a2824d0af607c","type":"chromadb-client","z":"267d528ea6cc06bf","name":"","remoteServer":"fd55ed7dc8b3d5a9","collection":"","operation":"createCollection","x":610,"y":60,"wires":[["a4691c6c13d4bbe5"]]},{"id":"a4691c6c13d4bbe5","type":"debug","z":"267d528ea6cc06bf","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":60,"wires":[]},{"id":"beef7af6d5f71b47","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["57ed772571b1a98b"]]},{"id":"57ed772571b1a98b","type":"function","z":"267d528ea6cc06bf","name":"client | deleteCollection","func":"msg.collection = \"my_collection\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["79de862b0ef85782"]]},{"id":"79de862b0ef85782","type":"chromadb-client","z":"267d528ea6cc06bf","name":"","remoteServer":"fd55ed7dc8b3d5a9","collection":"","operation":"deleteCollection","x":610,"y":120,"wires":[["4d806f504e9c9ecc"]]},{"id":"4d806f504e9c9ecc","type":"debug","z":"267d528ea6cc06bf","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":120,"wires":[]},{"id":"3147ed5bf6e5e7b6","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":180,"wires":[["e05935dccf477712"]]},{"id":"e05935dccf477712","type":"function","z":"267d528ea6cc06bf","name":"client | getCollection","func":"msg.collection = \"my_collection\";\nmsg.payload = {};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["65f0c38de2ba974e"]]},{"id":"65f0c38de2ba974e","type":"chromadb-client","z":"267d528ea6cc06bf","name":"","remoteServer":"fd55ed7dc8b3d5a9","collection":"","operation":"getCollection","x":610,"y":180,"wires":[["561592fa843a2bc8"]]},{"id":"561592fa843a2bc8","type":"debug","z":"267d528ea6cc06bf","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"6aae5e335d17ebe5","type":"inject","z":"267d528ea6cc06bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["b9d753b719deb8fd"]]},{"id":"b9d753b719deb8fd","type":"function","z":"267d528ea6cc06bf","name":"client | getOrCreateCollection","func":"msg.collection = \"my_collection\";\nmsg.payload = {\n    metadata: {\n        description: \"My first collection\"\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["2c3b02213ca1431f"]]},{"id":"2c3b02213ca1431f","type":"chromadb-client","z":"267d528ea6cc06bf","name":"","remoteServer":"fd55ed7dc8b3d5a9","collection":"","operation":"getOrCreateCollection","x":610,"y":240,"wires":[["55468bf7733589b2"]]},{"id":"55468bf7733589b2","type":"debug","z":"267d528ea6cc06bf","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":240,"wires":[]},{"id":"4fa9a542a18a407e","type":"inject","z":"267d528ea6cc06bf","name":"listCollections","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":300,"wires":[["9cc866fada84f776"]]},{"id":"9cc866fada84f776","type":"chromadb-client","z":"267d528ea6cc06bf","name":"","remoteServer":"fd55ed7dc8b3d5a9","collection":"","operation":"listCollections","x":610,"y":300,"wires":[["1fc688ab52e71646"]]},{"id":"1fc688ab52e71646","type":"debug","z":"267d528ea6cc06bf","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":300,"wires":[]},{"id":"8bf5bb5898a8b329","type":"inject","z":"267d528ea6cc06bf","name":"version","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":360,"wires":[["5dadd563dc9936d2"]]},{"id":"5dadd563dc9936d2","type":"chromadb-client","z":"267d528ea6cc06bf","name":"","remoteServer":"fd55ed7dc8b3d5a9","collection":"","operation":"version","x":610,"y":360,"wires":[["b8c1318cea823d3e"]]},{"id":"b8c1318cea823d3e","type":"debug","z":"267d528ea6cc06bf","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":360,"wires":[]},{"id":"fd55ed7dc8b3d5a9","type":"remote-server-client","host":"http://localhost:8000"}]